@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-color1: 20 35 60;  /* rgb(20 ,35 ,60) */
      --color-color2: 38 56 89; /* rgb(38 ,56, 89) */
      --color-color3: 107 119 141;  /* rgb(107 ,119, 141) */
      --color-color4: 30 120 137;  /* rgb(30 ,120, 137) */
      --color-text1: 244 244 242;  /* rgb(244 , 244 , 242) */
    }
    :root[data-theme="light"] {
        --color-color1: 244 244 242; /* rgb(244 , 244 , 242) */
        --color-color2: 232 232 232; /* rgb(244 , 232 , 232) */
        --color-color3: 187 191 202; /* rgb(187 , 191 , 202) */
        --color-color4: 30 120 137; /* rgb(30 , 120 , 137) */
        --color-text1: 20 35 60; /* rgb(20 , 35 , 60) */

    }
  }



@layer components{
    .input-text-div{
        @apply w-[90%] flex items-center justify-center rounded-lg bg-color2 focus:outline-none p-2 h-full ;
    }
    .bg-complete{
        @apply  fixed top-0 left-0 w-screen h-screen flex items-center justify-center bg-color1;
    }
    .main-div{
        @apply   absolute w-[450px] h-[800px]   flex flex-col vsmmobile:w-[300px] smmobile:w-[350px];
    }
    .logo-div{
        @apply h-[90px] flex flex-col items-center m-3 mb-5;
    }
    .detail-div{
        @apply h-[350px] bg-white rounded-lg flex flex-col items-center border;
    }
    .form-div{
        @apply flex flex-col  w-[400px] h-[260px] vsmmobile:w-[280px] smmobile:w-[300px];
    }
    .input-text{
        @apply block text-gray-700  font-bold mb-2 px-1 ;
    }
    .input-div{
        @apply block w-full h-10 my-2 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 border  ;
    }
    .input-detail{
        @apply text-gray-700 text-[10px] m-2 mb-5;
    }
    .button{
        @apply w-full bg-blue-500 hover:bg-blue-700 text-white font-bold text-[12px] py-[9px] px-4 rounded-lg focus:outline-none ;
    }
    .cardP{
        @apply w-[100px] text-right;
    }
    .notifsbutton{
        @apply flex items-center gap-3 w-[100%];
    }
    .notifsdiv{
        @apply flex flex-col w-[100%];
    }
    .pricaybutton{
        @apply w-[90%] h-fit flex flex-row hover:bg-slate-200 bg-opacity-5 rounded-lg items-center ;
    }
    
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
     
    input[type="range"]::-webkit-slider-thumb {
        width: 15px;
        -webkit-appearance: none;
          appearance: none;
        height: 15px;
        cursor: ew-resize;
        background: #FFF;
        box-shadow: -405px 0 0 400px #605E5C;
        border-radius: 50%;
        
    }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: none
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c7c7c7;
}
@font-face {
    font-family: 'Estedad';
    src: url('./assets/fonts/Estedad-Black.ttf');
  }
  @font-face {
    font-family: 'IRANSans';
    src: url('./assets/fonts/IRANSansWeb.ttf');
  }
  @font-face {
    font-family: 'LaleZar';
    src: url('./assets/fonts/Lalezar-Regular.ttf');
  }
  @font-face {
    font-family: 'Shabnam';
    src: url('./assets/fonts/Shabnam-Medium.ttf');
  }